@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin text-field{
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
    &:focus{
        outline: none;
    }
}

body{
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    min-height: 100vh;
}

.wrapper{
    max-width: 920px;
    margin: auto;
}

.content{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(34, 34, 34, 0.32);
    padding: 10px;
    margin: 0 auto auto auto;
    .main-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        // Title
        .main-form__title{
            font-size: 24px;
            margin: 20px 5px;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
        }
        //Split-line
        .main-form__split-line{
            height: 2px;
            width: 100%;
            background-color: #ddd;
        }
        //Initials
        .main-form__initials{
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr;
            .main-form__name,
            .main-form__surname{
                display: flex;
                p {
                    margin: auto 5px;
                }
            }
            input{
                @include text-field;
            }
        }
        @media screen and (min-width: 900px) {
            .main-form__initials {
                grid-template-columns: 1fr 1fr;
            }
        }
        //Main data
        .main-form__data{
            display: grid;
            gap: 10px;
            .main-form__email,
            .main-form__company,
            .main-form__city,
            .main-form__msg,
            {
                display: flex;
                p{
                    margin: auto 5px;
                }
            }
            input{
                @include text-field;
            }
        }
        //Button
        .main-form__submit-button{
            background-color: #5d912b;
            color: white;
            box-shadow: 0 0 2px rgba(34, 34, 34, 0.32);
            width: 30%;
            padding: 10px 20px;
            border: none;
            font-size: 16px;
            font-weight: bold;
            border-radius: 10px;
            margin: auto;
            text-transform: uppercase;
        }
    }
}

.content.ar {
    .main-form__name,
    .main-form__surname,
    .main-form__email,
    .main-form__company,
    .main-form__city,
    .main-form__msg,{
        flex-direction: row-reverse;
    }
    input {
        direction: rtl;
        unicode-bidi: bidi-override;
    }
}

#pop-up{
    position: relative;
    width: 80%;
    font-family: "Roboto", sans-serif;
    height: auto;
    padding: 10px;
    font-size: 14px;
    margin: auto auto 0 auto;
    display: flex;
    justify-content: center;
    visibility: hidden;
    &.success{
        background-color: #97d97f;
        visibility: visible;
    }
    &.failure{
        background-color: #c95d46;
        visibility: visible;
    }
}
